<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d|%-5level|%thread|%logger{40}|%L|%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="feishu" class="me.gaoliang.feishuappender.logback.FeishuAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--  suppressAfter specifies the criteria to enter suppression. The example below says that if 3 errors of the same kind
        are encountered within a 5 minute window, then suppression should kick in. -->
        <suppressAfter>3 in 5 minutes</suppressAfter>
        <!-- expireAfter specifies how much of silence the logger should see for the error message being suppressed
        before stopping suppression. -->
        <expireAfter>4 minutes</expireAfter>
        <!-- digestFrequency specifies how often error email digests should be sent containing statistics on messages
        suppressed -->
        <digestFrequency>5 s</digestFrequency>

        <projectName>测试项目</projectName>
        <alertUserIds>gaoliang1</alertUserIds>
    </appender>

    <appender name="asyncDing" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="feishu"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="asyncDing"/>
        <appender-ref ref="STDOUT"/>

    </root>
</configuration>
